nav {
    justify-content: flex-start;
    background-color: #07548c;
    border: 2px #042944 solid;
    
}
nav a {
    color: white;
    text-decoration: none;
    padding: 30px 40px;
    display: inline-block;
    font-size: x-large;
}
nav a:hover {
    background-color: #76a4e0;
}

#header{
    left: 0;
    top: 0;
    width: 100%;
    color: white;
}
#page-container {
    position: relative;
    min-height: 92vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: x-large;
}
.footer-container{
    background-color: #07548c;
    border: 2px #042944 solid;
    display: flex; justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.fdivleft{
    float: left;
    width: 48%;
    text-align: center;
    }

.fdivright {
    float: right;
    width: 48%;
    text-align: center;
    }

@media (max-width: 768px) {
    .fdivleft, .fdivright {
        width: 100%;
    }
}
